:host {
  text-align: center;

  .container {
    margin: 32px;
    height: calc(100vh - 150px);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border: 1px solid rgba(100, 100, 111, 0.2);
  }

}
